.panel, .panel.callout {
	background: $white;
	border-width: 0 0 1px 0;
	border-color: $underline-color;
	padding: 50px;

	&.thin{
		padding: 30px;
	}

	form {
		h4 {
			margin-bottom: 2rem;
		}

		input {
			margin-bottom: .5rem;
		}
	}

	#recover-pw	{
		margin-top: 15px;
		> a {
			color: $secondary-color;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}